<h1>Welcome, <%= current_user.email %></h1>

<h2>Add a link:</h2>

<%= form_for(@link, url: {controller: "links", action: "create"}) do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url , id: "url-field" %>

  <%= f.submit "add link", id: "new-link-submit" %>
<% end %>

<h2>Here are your links:</h2>

<div id="link-lists">

<ul id="unread-links">
  <h2>Links to read:</h2>
  <% current_user.unread_links.each do |link| %>
    <li class="unread-link" data-id="<%= link.id %>">
      <%= link_to link.url, link.url, target: "_blank" %>
      <button class="read-btn">toggle read</button>
    </li>
  <% end %>
</ul>

<ul id="read-links">
  <h2>Links you've read:</h2>
  <% current_user.read_links.each do |link| %>
    <li class="read-link" data-id="<%= link.id %>">
      <%= link_to link.url, link.url, target: "_blank" %>
      <button class="read-btn">toggle read</button>
    </li>
  <% end %>
</ul>

</div>
